main {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  background-color: coral;
  color: white;
  padding: 1% 2%;
  border-radius: 5%;
}